* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
}

.logo {
  color: rgb(238, 235, 235);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  color: rgb(235, 238, 236);
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:active {
  color: rgba(217, 230, 163, 0.17);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(238, 235, 235);
  margin: 5px;
  transition: all 0.3s ease;
}

/*If the srceen are 1200px or below*/
@media only screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
  .intro-photo img {
    display: none;
  }
  #intro-sentence {
    width: 70vw;
  }
}

/*when zoomed to 300% = 600px*/
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  #interest-list-id {
    display: block;
  }
  #interest{
    height: 1100px;
  }
  /* #contact{
    position: absolute;
    bottom: 0;
  } */
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .interest-list {
    display: block;
  }
  .intro-intro p {
    font-size: 0.5vh;
    width: 80%;
  }
  #intro-sentence {
    font-size: 1rem;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*self-intro*/

.self-intro {
  text-align: center;
  padding: 20px;
}

.self-intro h2 {
  margin: 40px;
}

.self-intro p {
  margin: 40px;
  font-size: 1.5rem;
}

/*about me*/

.intro {
  width: 100%;
  height: 700px;
  background-color: rgba(196, 189, 177, 0.17);
}

.intro-wrapp {
  width: 90%;
  /* height: 650px; */
  margin: 40px auto;
  position: relative;
  display: flex;
}

.intro-intro {
  padding: 40px;
  width: 50%;
}

.intro {
  clear: both;
}

.intro-intro p {
  font-size: 1.3rem;
  padding-top: 20px;
  word-spacing: 2px;
  line-height: 1.6;
}

.spacing {
  flex: 1;
}

.intro-photo img {
  width: 400px;
  height: auto;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  top: 40px;
}

.interest {
  width: 100%;
  height: 400px;
  /* border: 1px solid black; */
  margin: 0 auto;
  /* background-color: rgba(196,189,177,.17); */
}

.interest-wrap {
  width: 90%;
  height: 300px;
  /* border: 1px solid black; */
  margin: 40px auto;
  padding: 20px;
}

.interest-wrap h1 {
  padding-left: 20px;
}

.interest-list {
  margin: 20px auto;
  /* border: 1px solid black; */
  display: flex;
}

.interest-list div {
  width: 90%;
  /* border: 1px solid black; */
  margin: 20px;
}

.interest-list div p {
  text-align: center;
}

.interest-list div img {
  background-size: 100% 100%;
  height: 200px;
  width: 100%;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4bdb12b;
}

.contact-div {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.contact-div a {
  margin: 20px;
}

.footer {
  margin: 10px;
}
